/*Taille de police d'écriture : 
Absolue : Reste fixe, ne s'adapte pas à la taille de l'écran ou bien à l'utilisateur
--> En pixel (px) 
Relative : S'adapte à l'utilisateur ou à la taille de l'écran
--> en "words"
	-> xx-small
	-> x-small
	-> small
	-> medium
	-> large
	-> x-large
	-> xx-large
--> en "em"
	-> 1em <=> 1 taille normal selon l'élément, donc un p la taille normale c'est 16 px, donc 1em=16px pour un p, 
--> en "ex"
	-> 1ex <=> taille légèrement normal selon l'élement (peu ou pas utilisé)
*/
body{
	margin: 0;
}
header{
	text-align: center;
	background-color: #E6E6E6;
}
h1{
	font-family: Roboto, sans-serif;
	margin: 0;
}
h2{
	font-family: Roboto, sans-serif;
	margin: 0;
}
strong{
	font-weight: inherit;
}
#logo{
	max-height: 50px;
	text-align: center;
}
a{
	color: red;
}
p a{
	color: green;
	font-family: Roboto, sans-serif;
}

p{
	font-family: Roboto, arial, sans-serif;
}

@font-face{
	font-family: 'Roboto';
	src: url('../src/Roboto-Regular.ttf') format('truetype');
}

